body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: linear-gradient(135deg, #000000 15%, #434343);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    max-height: 100vh;
}
.footer{
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 7;
}
.basement{
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0vh;
    z-index: 7;
}
.content{
    width: 88%;
    height: 85vh;
    position: absolute;
    left: 11%;
    top:5.7vh;
    background-color:#2b2b2b;
    border: 2px solid;
    border-color: #212121;
    display: block;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    
}
.content_tile{
    width: auto;
    height: fit-content;
    background-color: #212121;
    margin: 30px;
    display: flex;
    border-radius: 5px;
    color: #ffffff;
    overflow-x: hidden;
}
.content_tile:hover{
    background-color:#EBEBEB;
    color:   #333333;
}
.search-container {
    display: absolute;
    margin-top: 0px auto ;
    margin-left: 40% ;
     
  }
  
  .search-bar {
    width: 200px; 
    padding-left: 10px;
    border: 1px solid #333333; 
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
  }
  
  .search-button {
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 5px;
  }
  
  .search-button:hover {
    background-color:rgba(0, 0, 0, 0.3) ; 
  }
.sidebar{
width: 12%;
height: 90vh;
background-color: rgba(0, 0, 0, 0);
position: absolute;
left: 0vh;
z-index: 8;
display: block;
}
.content_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 5vw;
}
.content_dicription{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    margin-left: 5vw;
    margin-top: 5vh;
}
.logo{
    position: absolute;
    width: 175px;
    height: 175px;
    top:0.5vh;
    left: 0px;
    z-index: 9;
    background-image: url(images/logo.png);
    background-size: cover;
    background-position: center;
    filter: saturate(50%);
}
.side_text{
    margin-top: 10px;
    margin-left: 10%;
    color:  #FFFFFF;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    cursor:alias;
}
#first_side_text{
    margin-top: 80%;
}
.side_text:hover{
    color:#a3b18a;
}
.tile_img{
    object-fit: contain;
    width:8vw;
}
#most_popular{
    text-align: center;
    font-family: monospace;
    cursor: default;
    font-size: 40px;
    color: #ffffff;
}
.IC_photo{
    width: 30vw;
    height: 70vh;
    
}
.IC_name{
    color: #ffffff;
    font-family: monospace;
    font-size: 70px;
    font-weight: bold;
    margin-top: 10vh;
    margin-left: 50vw;
    z-index: 13;
    position: relative;
}
.IC_discription{
    color: #344e41;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 0vh;
    margin-left: 50vw;
    z-index: 13;
    position: relative;
    overflow-x: scroll;
}
.link{
    margin-left: 1vw;
    z-index: 13;
    position: relative;
}
.IC_name,
.IC_discription {
    overflow-y: auto; 
    max-width: 40vw;
    max-height: 600px; 
}
.btn_img{
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}
.link_img{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 13;
    margin-left: 17vw;
}
.Frame{
    width: 35vw auto;
    height: 45vh;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: #434343;
    position: relative;
    border-color: #212121;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
.Frame::-webkit-scrollbar{
    display: none;
} 
@media (max-width: 684px){
    .footer{
        height: 2vh;
    }
    .basement{
        height: 4vh;
        bottom: 1px;
    }
    .content {
        width: 99vw;
        left: 0;
        top: 5vh;
        height: 70vh;
        box-shadow: none;
    }

    .sidebar {
        display: none;
    }

    .logo {
        display: none;
    }

    .content_title {
        font-size: 20px;
    }

    .content_discription {
        font-size: 10px;
        margin-top: 0vh;

    }

    .search-container {
        margin-left: 30%;
        margin-top: 1%;
    }

    .search-bar {
        width: 150px;
        font-size: 1.2em;
    }

    #most_popular {
        font-size: 25px;
    }

    .IC_name {
        font-size: 25px;
        margin-left: 55%;
    }

    .IC_discription {
        margin-left: 55%;
        width: 75vw;
        height: fit-content;
    }
    .IC_photo{
        width: 50vw;
        height: 30vh;
    }
    .link{
        left:0px;
    }
    .link_img{
        margin-left: 1vw;
    }
}
@media (max-width: 768px) and (min-width:685px) {
    .content {
        width: 99%;
        left: 0;
        top: 6vh;
        height: 75vh;
    }

    .sidebar {
        display: none;
    }

    .logo {
        width: 120px;
        height: 120px;
        display: none;
    }

    .content_title {
        font-size: 24px;
    }

    .content_discription {
        font-size: 12px;
        margin-top: 3vh;
    }

    .search-container {
        margin-left: 40%;
    }

    .search-bar {
        width: 150px;
        font-size: 1.2em;
    }

    #most_popular {
        font-size: 30px;
    }

    .IC_name {
        font-size: 45px;
        margin-left: 45%;
    }

    .IC_discription {
        margin-left: 45%;
    }
    .IC_photo{
        width: 40vw;
        height: 40vh;
    }
    .link_img{
        margin-left: 1vw;
    }
}

/* Стилі для екранів з шириною від 769px до 1200px (планшети) */
@media (min-width: 769px) and (max-width: 1200px) {
    .content {
        width: 80%;
        left: 17%;
        top: 6vh;
        height: 78vh;
    }

    .sidebar {
        width:17%;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .content_title {
        font-size: 28px;
    }

    .content_discription {
        font-size: 14px;
        margin-top: 4vh;
    }

    .search-container {
        margin-left: 45%;
    }

    .search-bar {
        width: 180px;
        font-size: 1.4em;
    }

    #most_popular {
        font-size: 35px;
    }

    .IC_name {
        font-size: 50px;
        margin-left: 55%;
    }

    .IC_discription {
        margin-left: 55%;
    }
    .IC_photo{
        width: 35vw;
        height: 45vh;
    }
}
